* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    max-width: 1198px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: red;
    padding: 1.5rem;
}

.logo {
    font-size: 5rem;
    font-weight: 900;
}

.nav__item {
    position: relative;
    display: inline-block;
}

.nav__link {
    display: block;
    padding: 1rem 2rem;
}

.nav__link:hover {
    background-color: white;
    color: red;
}

.submenu {
    position: absolute;
    background-color: red;
    display: none;
}

.submenu__link {
    display: block;
    padding: 1rem 2rem;
}

.submenu__link:hover {
    background-color: white;
    color: red;
}

.nav__item:hover .submenu {
    display: block;
}

.main {
    padding: 30px;
}

.section {
    height: 300px;
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-left: 200px solid transparent;
    border-top: 100px solid yellow;
    border-bottom: 100px solid red;
}

.elipse_v {
    width: 200px;
    height: 200px;
    background-color: blue;
    clip-path: ellipse(30% 50% at 50% 50%);
}

.triangle {
    width: 200px;
    height: 200px;
    background-color: blue;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.elipse_h {
    width: 200px;
    height: 200px;
    background-color: blue;
    clip-path: ellipse(50% 30% at 50% 50%);
}

.diamond {
    width: 200px;
    height: 200px;
    background-color: blue;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.pacman {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-left: 100px solid blue;
    border-top: 100px solid yellow;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
}

.footer {
    background-color: red;
    width: 90%;
    height: 3rem;
    margin: 0 auto;
    position: relative;
    bottom: 2rem;
}